<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="css/materialize.css">
      <link rel="stylesheet" href="css/my.css">
      <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
 <!--<div class="title">         
  <title></title>
 </div>-->
</head>
<body>
    <% include ./partials/navigation %>

   


 
   

   
      <%- body %>
           <!--<script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>-->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/displayApiInfo.js"></script>
</body>
</html>