*{
    font-family: 'Cinzel', serif;
}
h1{
    color: white;
    padding-left: 27%;
}

.text{
    color: white;
}

.tablecolor{
    background-color: black;
    color: yellow;
    
}

.header {
    background-color: yellow;
    color: black;
}

.input {
    padding-left: 35%;
}

body{
    background-image: url("../img/sunsetTakeOff1.png");
}