*{
    font-family: 'Cinzel', serif;
}
h1{
    color: white;
    padding-left: 27%;
}

#airportDepartures{
    opacity: 30%;
}

.text{
    color: white;
}

.tablecolor{
    /*background-color: black;*/
    color: white;
    
}

.header {
    background-color: yellow;
    color: black;
}

.input {
    padding-left: 35%;
}

body{
    background-image: url("../img/sunsetTakeOff1.png");
}