h2{
    color: white;
    padding-left: 35%;
}

.tablecolor{
    background-color: black;
    color: yellow;
}
.header {
    background-color: yellow;
    color: black;
}

.input {
    padding-left: 35%;
}

body{
    background-image: url("../img/sunsetTakeOff1.png");
}